.popup {
  background-color: #f2f2f2;
  padding: 15px;
  border: 2px solid #dbdbdb;
  max-width: 400px;
  border-radius: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.panel {
  padding: 10px;
  width: 70px;
  height: 60px;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  opacity: 0.8;
  /* line-height: 90px; */
}

.panel:hover {
  box-shadow: none;
}
